@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}
